*{
    margin:0;
    padding: 0;    
}




ul.menu {        
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
flex-direction: row-reverse;
justify-content: center;
  }


  ul.menu li {
    flex-basis: 10%;
    border: 1px solid green;
    padding: 10px;
    display: flex;
  justify-content: center;
 }

 ul.menu li a{
    text-decoration:none;
 }
 
 ul.menu li:hover{
     background-color: #007bff;
 }

 ul.menu li:hover a{
     
    color: white !important;   

 }

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";    
}

#main{
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.brand{    
    border: 1px solid green;
    padding: 10px;      
  font-weight: bold;
  font-size: 1.5em;
}


.brand a{
    text-decoration: none;
    color: #007bff;
}


.logo{
    margin-top: 120px;
    padding: 10px;
    border: solid 1px;
    border-radius: 5px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    box-shadow: 5px 10px #888888;
}

.logo{
    color:#007bff;    
}

.logo h1{
    font-size: 5em;
}

.item_navbar{
    border: solid 1px;
    width: 100%;
    display: flex;
}

.item_navbar ul{
    flex:auto;
}